[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.16.0"
pandas = "==0.24.2"
gunicorn = "*"
Flask = "==1.1.1"
Werkzeug = "==0.15.4"
Keras = "==2.3.1"
tensorflow = "==2.2.2"
tensorflow-gpu = {file = "https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-2.2.0-cp37-cp37m-win_amd64.whl"}

[requires]
python_version = "3.7"
